{% extends "index.html" %}
{% load static %}
{% block title %}Artist{% endblock %}
{% block main %}
<section class="hero-section21 d-flex align-items-center text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mt-auto mb-auto">
        <h1 class="hero-title21">Sink Rap Bish</h1>
        <h2 class="hero-subtitle21">Musen Fono<br>Blanit Wftine</h2>
        <p class="hero-description21">
          Hot, the latest riff of a trend amid ongoing hustle.
        </p>
      </div>
      <div class="col-md-5 text-center">
        <div class="hero-image21">
          <img src="{% static 'images/artist.jpeg' %}" alt="Hero Image" class="img-fluid">
        </div>
        
      </div>
      <div class="artist-list21 d-flex justify-content-around mt-3">
          <div class="artist-div21 mx-2">
            <img src="{% static 'images/artist.jpeg' %}" alt="Artist 1" class="img-fluid rounded">
          </div>
          <div class="artist-div21 mx-2">
            <img src="{% static 'images/artist.jpeg' %}" alt="Artist 2" class="img-fluid rounded">
          </div>
          <div class="artist-div21 mx-2">
            <img src="{% static 'images/artist.jpeg' %}" alt="Artist 3" class="img-fluid rounded">
          </div>
        </div>
    </div>
  </div>
</section>

  
  {% comment %} {% include "elements/featuredlibrary.html" %} {% endcomment %}
  {% include "elements/artist-section.html" with artists=featured_artists %}
  {% include "elements/artistgallery.html" with artists=artists %}
  {% include "elements/submission.html" %}
{% endblock %}
