{% extends "index.html" %}
{% block title %}Artist name{% endblock %}
{% block navbar %}{% include "elements/navbar/navbar.html" with artist=artist is_artist=is_artist%}{% endblock %}
{% block main %}
  <!-- Hero Section -->
   <section class="hero" style="background-image: url('{{ artist.profile_pic.url }}'); background-size: cover; background-position: center;">
    <div class="containera">
    </div>
  </section>
  <section class="artist-profilea">
  <div class="containera">
    <div class="artist-infoa">
      <h2>{{artist.artist_name}}</h2>
      <h3 class="artist-rolea">Genra: {{artist.Genra.genra_name|upper}}</h3>
      <p class="artist-bioa">
      {{artist.description}}</p>
    </div>

    {% comment %} <div class="artist-tracks">
      <div class="track">
        <div class="play-button"></div>
        <p>Song Name FT. Guest</p>
      </div>
      <div class="track">
        <div class="play-button"></div>
        <p>Song Name FT. Guest</p>
      </div>
    </div> {% endcomment %}

    <div class="featured-statsa">
      <h3>FEATURED</h3>
      <ul>
        <li><span>10K+</span> Great Fans</li>
        {% comment %} <li><span>5K+</span> Downloads</li> {% endcomment %}
        <li><span>50k</span> Views</li>
        <li><span>#1</span> Trending Song</li>
      </ul>
    </div>
  </div>
</section>
{% include "elements/features-section.html" %}
{% include "elements/musiclibrary.html" with songs=songs %}

{% endblock %}