{% load static %}
<div class="d-flex justify-content-around">
            <!-- Bottom Section -->
            <div class="artist-track40 p-4 mb-4 text-white">
                <h3 class="track-title40">Artist Track</h3>
                <p class="track-description40">
                    Follow the journey of this artist's evolution and achievements.
                </p>
                <p class="social-links40">
                    <span class="me-3">Spotify</span>
                    <span class="me-3">iTunes</span>
                    <span class="me-3">Tidal</span>
                    <span>Amazon Music</span>
                </p>
            </div>
            <!-- Cards with Thumbnails -->
            <div class="row g-3 artist-card-section40">
                <!-- Thumbnail Card 1 -->
                <div class="col-md-4 mt-2">
                    <div class="thumbnail-card40 p-3">
                        <img src="{% static 'images/artist.jpeg' %}" alt="Thumbnail" class="img-fluid rounded">
                        <h4 class="thumbnail-title40">Track Name 1</h4>
                    </div>
                </div>
                <!-- Thumbnail Card 2 -->
                <div class="col-md-4 mt-2">
                    <div class="thumbnail-card40 p-3">
                        <img src="{% static 'images/artist.jpeg' %}" alt="Thumbnail" class="img-fluid rounded">
                        <h4 class="thumbnail-title40">Track Name 2</h4>
                    </div>
                </div>
                <!-- Thumbnail Card 3 -->
                <div class="col-md-4 mt-2">
                    <div class="thumbnail-card40 p-3">
                        <img src="{% static 'images/artist.jpeg' %}" alt="Thumbnail" class="img-fluid rounded">
                        <h4 class="thumbnail-title40">Track Name 3</h4>
                    </div>
                </div>
                <!-- Thumbnail Card 4 -->
                <div class="col-md-4 mt-2">
                    <div class="thumbnail-card40 p-3">
                        <img src="{% static 'images/artist.jpeg' %}" alt="Thumbnail" class="img-fluid rounded">
                        <h4 class="thumbnail-title40">Track Name 4</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>