{% load static %}
{% comment %} artist directory {% endcomment %}
<section class="artist-directory2">
  <div class="artist-container justify-content-center d-flex row">
    <div class="artist-intro2 col-10 col-md-4">
      <h2>Artist Directory</h2>
      <p>
        Find your favorite artists here! Explore profiles with their most iconic tracks, unique style, and achievements. Dive into their journey and get inspired by their craft.
      </p>
      <button class="cta-button2">Explore All</button>
    </div>
    <div class="artist-cards2 col-10 col-md-8">
      <!-- Artist Card 1 -->
      <div class="artist-card2">
        <img src={% static "images/artist.jpeg" %} alt="Artist 1" class="artist-image2">
        <h3 class="artist-name2">Einar 8il</h3>
        <p class="artist-role2">Producer</p>
        <div class="artist-stats2">
          <span>❤ 1.5k</span>
          <span>⭐ 4.8</span>
        </div>
      </div>
      <!-- Artist Card 2 -->
      <div class="artist-card2">
        <img src={% static "images/artist.jpeg" %} alt="Artist " class="artist-image2">
        <h3 class="artist-name2">Alexei Lupesco</h3>
        <p class="artist-role2">Singer</p>
        <div class="artist-stats2">
          <span>❤ 2.1k</span>
          <span>⭐ 4.9</span>
        </div>
      </div>
      <!-- Artist Card 3 -->
      <div class="artist-card2">
        <img src={% static "images/artist.jpeg" %} alt="Artist 3" class="artist-image2">
        <h3 class="artist-name2">Martinez</h3>
        <p class="artist-role2">Rapper</p>
        <div class="artist-stats2">
          <span>❤ 3.2k</span>
          <span>⭐ 4.7</span>
        </div>
      </div>
      <!-- Artist Card 4 -->
      <div class="artist-card2">
        <img src={% static "images/artist.jpeg" %} alt="Artist 4" class="artist-image2">
        <h3 class="artist-name2">SoulCarbon</h3>
        <p class="artist-role2">Lyricist</p>
        <div class="artist-stats2">
          <span>❤ 1.8k</span>
          <span>⭐ 4.6</span>
        </div>
      </div>
    </div>
  </div>
</section>