{% load static %}
<section class="artist-library py-5 bg-dark">
    <div class="container">
      <h1 class="section-title  text-center mb-4"><b>Artist Library</b></h1>
      <p class="text-light mb-4">
        Browse the profiles of artists and their unique work. Get inspired by their journey and craft.
      </p>
      <div class="row gy-4">
        <!-- Artist 1 -->
        <div class="col-md-3 col-6 mt-2">
          <div class="card bg-dark col-12 text-white">
            <img src="{% static 'images/artist.jpeg' %}" class="card-img-top" alt="Artist 5">
            <div class="card-body text-center">
              <h5 class="card-title">Drake</h5>
              <p class="card-text11">Rapper</p>
              <div class="ratings11">
                ❤ 1.8k | ⭐ 4.5
              </div>
            </div>
          </div>
        </div>
        <!-- Artist 2 -->
        <div class="col-md-3 col-6 mt-2">
          <div class="card bg-dark col-12 text-white">
            <img src="{% static 'images/artist.jpeg' %}" class="card-img-top" alt="Artist 6">
            <div class="card-body text-center">
              <h5 class="card-title">Katana</h5>
              <p class="card-text11">Singer</p>
              <div class="ratings11">
                ❤ 2.2k | ⭐ 4.8
              </div>
            </div>
          </div>
        </div>
        <!-- Artist 3 -->
        <div class="col-md-3 col-6 mt-2">
          <div class="card bg-dark col-12 text-white">
            <img src="{% static 'images/artist.jpeg' %}" class="card-img-top" alt="Artist 7">
            <div class="card-body text-center">
              <h5 class="card-title">Eminart</h5>
              <p class="card-text11">Lyricist</p>
              <div class="ratings11">
                ❤ 1.6k | ⭐ 4.4
              </div>
            </div>
          </div>
        </div>
        <!-- Artist 4 -->
        <div class="col-md-3 col-6 mt-2">
          <div class="card bg-dark col-12 text-white">
            <img src="{% static 'images/artist.jpeg' %}" class="card-img-top" alt="Artist 8">
            <div class="card-body text-center">
              <h5 class="card-title">Snoop AI</h5>
              <p class="card-text11">Producer</p>
              <div class="ratings11">
                ❤ 2.0k | ⭐ 4.7
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

