{% load static %}
<section class="featured-artists-section py-5">
  <div class="container">
    <h2 class="text-white mb-4 text-center">Featured Artists</h2>
    <div class="row align-items-center">
      <div class="col-1 text-center">
        <button class="btn btn-outline-light slider-prev">&#8249;</button>
      </div>
      <div class="col-10 overflow-hidden">
        <div class="slider-wrapper d-flex">
          {% for song in songs %}
          {% if song.status == 200 %}
          <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
            <iframe class="card-img-top" width="560" height="315"
              src={{song.data.embeded_link}} title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
            <div class="card-body">
              <h5 class="card-title">{{song.data.song_name}}</h5>
              <a href="#" class="btn btn-danger btn-sm">View</a>
            </div>
          </div>
          {% endif %}
          {% endfor %}


        {% comment %} <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <iframe class="card-img-top" width="560" height="315"
            src="https://www.youtube.com/embed/hN_lCaiE29g?si=2nr4bh6huC2iESS1" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <!-- <img src="{% static 'images/artist.jpeg' %}" class="card-img-top" alt="Artist 2"> -->
          <div class="card-body">
            <h5 class="card-title">Juti Pilo</h5>
            <p class="card-text">Top-notch artist from America with chart-topping hits.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div> {% endcomment %}
        {% comment %} <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <img src="{% static 'images/artist.jpeg' %}" class="card-img-top" alt="Artist 2">
          <div class="card-body">
            <h5 class="card-title">Juti Pilo</h5>
            <p class="card-text">Top-notch artist from America with chart-topping hits.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div> {% endcomment %}

      </div>
    </div>
    <div class="col-1 text-center">
      <button class="btn btn-outline-light slider-next">&#8250;</button>
    </div>
  </div>
  </div>
</section>