{% load static %}
<section class="featured-artists-section py-5">
  <div class="container">
    <h2 class="text-white mb-4 text-center">Featured Artists</h2>
    <div class="row align-items-center">
      <div class="col-1 text-center">
        <button class="btn btn-outline-light slider-prev">&#8249;</button>
      </div>
      <div class="col-10 overflow-hidden">
        <div class="slider-wrapper d-flex">
          <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
            <iframe class="card-img-top" width="560" height="315"
              src="https://www.youtube.com/embed/Cuakrm22jyY?si=zr8WQ-BTweY-2saT" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
            <div class="card-body">
              <h5 class="card-title">Juti Pilo</h5>
              <p class="card-text">Top-notch artist from America with chart-topping hits.</p>
              <a href="#" class="btn btn-danger btn-sm">View</a>
            </div>
        </div>

        <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <iframe class="card-img-top" width="560" height="315"
            src="https://www.youtube.com/embed/hN_lCaiE29g?si=2nr4bh6huC2iESS1" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <div class="card-body">
            <h5 class="card-title">Artist Name</h5>
            <p class="card-text">Description of the artist or video.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div>

        <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <iframe class="card-img-top" width="560" height="315"
            src="https://www.youtube.com/embed/lFrzbp_QVT8?si=tiVu2ROvfoF4aIBQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <div class="card-body">
            <h5 class="card-title">Artist Name</h5>
            <p class="card-text">Description of the artist or video.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div>

        <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <iframe class="card-img-top" width="560" height="315"
            src="https://www.youtube.com/embed/A0B5p2vVnXw?si=Tba4evVF96G4shqm" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <div class="card-body">
            <h5 class="card-title">Artist Name</h5>
            <p class="card-text">Description of the artist or video.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div>

        <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <iframe class="card-img-top" width="560" height="315"
            src="https://www.youtube.com/embed/YOuG4gE35RA?si=slwNAvR4OB_VDcer" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <div class="card-body">
            <h5 class="card-title">Artist Name</h5>
            <p class="card-text">Description of the artist or video.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div>

        <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <iframe class="card-img-top" width="560" height="315"
            src="https://www.youtube.com/embed/gMC3gEcD3R0?si=UJsNVkyg04BQ_4Cs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <div class="card-body">
            <h5 class="card-title">Artist Name</h5>
            <p class="card-text">Description of the artist or video.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div>

        <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <iframe class="card-img-top" width="560" height="315"
            src="https://www.youtube.com/embed/TYyDKWUHzy4?si=sEP0Uc1FqKcu9NYh" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <div class="card-body">
            <h5 class="card-title">Artist Name</h5>
            <p class="card-text">Description of the artist or video.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div>

        <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <iframe class="card-img-top" width="560" height="315"
            src="https://www.youtube.com/embed/JplJ-jummE8?si=fppz7dSM1hQ9vSfk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <div class="card-body">
            <h5 class="card-title">Artist Name</h5>
            <p class="card-text">Description of the artist or video.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div>


        {% comment %} <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <iframe class="card-img-top" width="560" height="315"
            src="https://www.youtube.com/embed/hN_lCaiE29g?si=2nr4bh6huC2iESS1" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <!-- <img src="{% static 'images/artist.jpeg' %}" class="card-img-top" alt="Artist 2"> -->
          <div class="card-body">
            <h5 class="card-title">Juti Pilo</h5>
            <p class="card-text">Top-notch artist from America with chart-topping hits.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div> {% endcomment %}
        {% comment %} <div class="card slider-card bg-dark mx-2 col-12 col-md-6 col-lg-4 text-center">
          <img src="{% static 'images/artist.jpeg' %}" class="card-img-top" alt="Artist 2">
          <div class="card-body">
            <h5 class="card-title">Juti Pilo</h5>
            <p class="card-text">Top-notch artist from America with chart-topping hits.</p>
            <a href="#" class="btn btn-danger btn-sm">View</a>
          </div>
        </div> {% endcomment %}

      </div>
    </div>
    <div class="col-1 text-center">
      <button class="btn btn-outline-light slider-next">&#8250;</button>
    </div>
  </div>
  </div>
</section>