{% load static %}
<section class="featured-library text-center row d-flex text-white ">
    <div class="featured-lib-head col-12 col-md-4">
        <h2>Featured Library</h2>
        <p>The best fan-made hip-hop artists & producers. Updated each month with the hottest new releases and profiles
            of the best artists.The best fan-made hip-hop artists & producers. Updated each month with the hottest new releases and profiles
            of the best artistsThe best fan-made hip-hop artists & producers. Updated each month with the hottest new releases and profiles
            of the best artists</p>
        <button class="tag-button">Top Charts</button>
    </div>
    <div class="featured-carousel row col-12 col-md-8">
        <div class="featured-card col-12 col-md-6 col-lg-4">
            <iframe class="card-img-top" width="560" height="315"
              src="https://www.youtube.com/embed/Cuakrm22jyY?si=zr8WQ-BTweY-2saT" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <div class="featured-card col-12 col-md-6 col-lg-4">
            <iframe class="card-img-top" width="560" height="315"
              src="https://www.youtube.com/embed/Cuakrm22jyY?si=zr8WQ-BTweY-2saT" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <div class="featured-card col-12 col-md-6 col-lg-4">
            <iframe class="card-img-top" width="560" height="315"
              src="https://www.youtube.com/embed/Cuakrm22jyY?si=zr8WQ-BTweY-2saT" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
    </div>
    

</section>

{% comment %} {% include "elements/artist-library.html" %} {% endcomment %}
<!-- Artist Library Section -->
{% comment %} <section class="artist-library bg-black text-center">
    <h2>Artist Library</h2>
    <p>The best fan tracks and mixes. <span class="highlight">New Artists</span> on G.O.A.T. Ranked, tagged, and mixed
        with the best styles, moods, and rankings.</p>

    <div class="artist-grid3">
        <div class="artist-card3">
            <img src={% static "images/artist.jpeg" %} alt="Artist 4">
            <h3>Drake Floyd</h3>
            <p>Top Rated</p>
        </div>
        <div class="artist-card3">
            <img src={% static "images/artist.jpeg" %} alt="Artist 5">
            <h3>Katarina Ethan</h3>
            <p>Trending</p>
        </div>
        <div class="artist-card3">
            <img src={% static "images/artist.jpeg" %} alt="Artist 6">
            <h3>Denzel Eric</h3>
            <p>Breakthrough</p>
        </div>
        <div class="artist-card3">
            <img src={% static "images/artist.jpeg" %} alt="Artist 7">
            <h3>Isaac Ali</h3>
            <p>New Talent</p>
        </div>
        <div class="artist-card3">
            <img src={% static "images/artist.jpeg" %} alt="Artist 8">
            <h3>Travis Elements</h3>
            <p>Rising Star</p>
        </div>
    </div>
</section> {% endcomment %}